version: '3.8'

services:
  server:
    build:
      context: ./server
      dockerfile: Dockerfile
    ports:
      - "3001:3001"
    environment:
      - NODE_ENV=production
      - PROXY_HOST=${PROXY_HOST:-brd.superproxy.io}
      - PROXY_PASSWORD=${PROXY_PASSWORD:-713k00vtlyvt}
      - PROXY_PORT=${PROXY_PORT:-9222}
      - PROXY_USERNAME=${PROXY_USERNAME:-brd-customer-hl_356602a2-zone-scraping_browser1}
      - PORT=3001
    restart: unless-stopped

  client:
    build:
      context: ./client
      dockerfile: Dockerfile
    ports:
      - "80:80"
    depends_on:
      - server
    restart: unless-stopped
